*.pyc
*.idea
*.db
*.db-*
*.sass-cache
*.orig
*.json
config/*
!config/config.ini.example
geofences/*
!geofences/*.example
static/dist/
node_modules/
venv/
core
src/
_build
_build_html
beehive.*
static/icons/.tracking
static/icons/pokemon/*.png
static/icons/gyms/*.png
!static/icons/gyms/heart.png
static/spritesheet.png
static/sass/sprites.scss
static/css/custom.css
static/js/custom.js
*.csv
*.bat
*.sh
*.log
!docs/make.bat
!Tools/Easy-Setup/easy-setup.sh
!Tools/Easy-Setup/setup.bat
!contrib/supervisord/gen-workers.sh
!contrib/supervisord/install-reinstall.sh
!static/data/*
!static/app/settings.json
static/data/sprite_map.json
