*.pyc
*.idea
*.db
*.db-*
*.sass-cache
*.orig
*.json
*.csv
config/*
!config/config.ini.example
!config/config.ini
!config/acc.csv.example
!config/places.csv.example
static/dist/
node_modules/
venv/
core
src/
_build
_build_html
beehive.*
*.csv
*.bat
*.sh
*.log
!docs/make.bat
!Tools/Easy-Setup/easy-setup.sh
!Tools/Easy-Setup/setup.bat
!contrib/supervisord/gen-workers.sh
!contrib/supervisord/install-reinstall.sh