.pokemon-large-sprite {
  display: inline-block;
  background-image: url(../../../icons-large-sprite.png);
  background-repeat: no-repeat;
  top: 6px;
  position: relative;
  -moz-transform-origin: 0 0;
  height: 96px;
  width: 96px;

  @for $i from 1 through 649 {
    &.n#{$i} {
      background-position: -#{(($i - 1) % 10) * 96}px -#{floor(($i - 1) / 10) * 96}px
    }
  }
}
