.pokemon-large-sprite {
  display: inline-block;
  background-image: url(../../../icons-large-sprite.png);
  background-repeat: no-repeat;
  top: 6px;
  position: relative;
  -moz-transform-origin: 0 0;
  height: 96px;
  width: 96px;
}

.pokemon-large-sprite.n1 {
    background-position: -0px -0px;
}

.pokemon-large-sprite.n2 {
    background-position: -96px -0px;
}

.pokemon-large-sprite.n3 {
    background-position: -192px -0px;
}

.pokemon-large-sprite.n4 {
    background-position: -288px -0px;
}

.pokemon-large-sprite.n5 {
    background-position: -384px -0px;
}

.pokemon-large-sprite.n6 {
    background-position: -480px -0px;
}

.pokemon-large-sprite.n7 {
    background-position: -576px -0px;
}

.pokemon-large-sprite.n8 {
    background-position: -0px -96px;
}

.pokemon-large-sprite.n9 {
    background-position: -96px -96px;
}

.pokemon-large-sprite.n10 {
    background-position: -192px -96px;
}

.pokemon-large-sprite.n11 {
    background-position: -288px -96px;
}

.pokemon-large-sprite.n12 {
    background-position: -384px -96px;
}

.pokemon-large-sprite.n13 {
    background-position: -480px -96px;
}

.pokemon-large-sprite.n14 {
    background-position: -576px -96px;
}

.pokemon-large-sprite.n15 {
    background-position: -0px -192px;
}

.pokemon-large-sprite.n16 {
    background-position: -96px -192px;
}

.pokemon-large-sprite.n17 {
    background-position: -192px -192px;
}

.pokemon-large-sprite.n18 {
    background-position: -288px -192px;
}

.pokemon-large-sprite.n19 {
    background-position: -384px -192px;
}

.pokemon-large-sprite.n20 {
    background-position: -480px -192px;
}

.pokemon-large-sprite.n21 {
    background-position: -576px -192px;
}

.pokemon-large-sprite.n22 {
    background-position: -0px -288px;
}

.pokemon-large-sprite.n23 {
    background-position: -96px -288px;
}

.pokemon-large-sprite.n24 {
    background-position: -192px -288px;
}

.pokemon-large-sprite.n25 {
    background-position: -288px -288px;
}

.pokemon-large-sprite.n26 {
    background-position: -384px -288px;
}

.pokemon-large-sprite.n27 {
    background-position: -480px -288px;
}

.pokemon-large-sprite.n28 {
    background-position: -576px -288px;
}

.pokemon-large-sprite.n29 {
    background-position: -0px -384px;
}

.pokemon-large-sprite.n30 {
    background-position: -96px -384px;
}

.pokemon-large-sprite.n31 {
    background-position: -192px -384px;
}

.pokemon-large-sprite.n32 {
    background-position: -288px -384px;
}

.pokemon-large-sprite.n33 {
    background-position: -384px -384px;
}

.pokemon-large-sprite.n34 {
    background-position: -480px -384px;
}

.pokemon-large-sprite.n35 {
    background-position: -576px -384px;
}

.pokemon-large-sprite.n36 {
    background-position: -0px -480px;
}

.pokemon-large-sprite.n37 {
    background-position: -96px -480px;
}

.pokemon-large-sprite.n38 {
    background-position: -192px -480px;
}

.pokemon-large-sprite.n39 {
    background-position: -288px -480px;
}

.pokemon-large-sprite.n40 {
    background-position: -384px -480px;
}

.pokemon-large-sprite.n41 {
    background-position: -480px -480px;
}

.pokemon-large-sprite.n42 {
    background-position: -576px -480px;
}

.pokemon-large-sprite.n43 {
    background-position: -0px -576px;
}

.pokemon-large-sprite.n44 {
    background-position: -96px -576px;
}

.pokemon-large-sprite.n45 {
    background-position: -192px -576px;
}

.pokemon-large-sprite.n46 {
    background-position: -288px -576px;
}

.pokemon-large-sprite.n47 {
    background-position: -384px -576px;
}

.pokemon-large-sprite.n48 {
    background-position: -480px -576px;
}

.pokemon-large-sprite.n49 {
    background-position: -576px -576px;
}

.pokemon-large-sprite.n50 {
    background-position: -0px -455px;
}

.pokemon-large-sprite.n51 {
    background-position: -96px -455px;
}

.pokemon-large-sprite.n52 {
    background-position: -192px -455px;
}

.pokemon-large-sprite.n53 {
    background-position: -288px -455px;
}

.pokemon-large-sprite.n54 {
    background-position: -384px -455px;
}

.pokemon-large-sprite.n55 {
    background-position: -480px -455px;
}

.pokemon-large-sprite.n56 {
    background-position: -576px -455px;
}

.pokemon-large-sprite.n57 {
    background-position: -0px -520px;
}

.pokemon-large-sprite.n58 {
    background-position: -96px -520px;
}

.pokemon-large-sprite.n59 {
    background-position: -192px -520px;
}

.pokemon-large-sprite.n60 {
    background-position: -288px -520px;
}

.pokemon-large-sprite.n61 {
    background-position: -384px -520px;
}

.pokemon-large-sprite.n62 {
    background-position: -480px -520px;
}

.pokemon-large-sprite.n63 {
    background-position: -576px -520px;
}

.pokemon-large-sprite.n64 {
    background-position: -0px -585px;
}

.pokemon-large-sprite.n65 {
    background-position: -96px -585px;
}

.pokemon-large-sprite.n66 {
    background-position: -192px -585px;
}

.pokemon-large-sprite.n67 {
    background-position: -288px -585px;
}

.pokemon-large-sprite.n68 {
    background-position: -384px -585px;
}

.pokemon-large-sprite.n69 {
    background-position: -480px -585px;
}

.pokemon-large-sprite.n70 {
    background-position: -576px -585px;
}

.pokemon-large-sprite.n71 {
    background-position: -0px -650px;
}

.pokemon-large-sprite.n72 {
    background-position: -96px -960px;
}

.pokemon-large-sprite.n73 {
    background-position: -192px -960px;
}

.pokemon-large-sprite.n74 {
    background-position: -288px -960px;
}

.pokemon-large-sprite.n75 {
    background-position: -384px -960px;
}

.pokemon-large-sprite.n76 {
    background-position: -480px -960px;
}

.pokemon-large-sprite.n77 {
    background-position: -576px -960px;
}

.pokemon-large-sprite.n78 {
    background-position: -0px -715px;
}

.pokemon-large-sprite.n79 {
    background-position: -96px -715px;
}

.pokemon-large-sprite.n80 {
    background-position: -192px -715px;
}

.pokemon-large-sprite.n81 {
    background-position: -288px -715px;
}

.pokemon-large-sprite.n82 {
    background-position: -384px -715px;
}

.pokemon-large-sprite.n83 {
    background-position: -480px -715px;
}

.pokemon-large-sprite.n84 {
    background-position: -576px -715px;
}

.pokemon-large-sprite.n85 {
    background-position: -0px -780px;
}

.pokemon-large-sprite.n86 {
    background-position: -96px -780px;
}

.pokemon-large-sprite.n87 {
    background-position: -192px -780px;
}

.pokemon-large-sprite.n88 {
    background-position: -288px -780px;
}

.pokemon-large-sprite.n89 {
    background-position: -384px -780px;
}

.pokemon-large-sprite.n90 {
    background-position: -480px -780px;
}

.pokemon-large-sprite.n91 {
    background-position: -576px -780px;
}

.pokemon-large-sprite.n92 {
    background-position: -0px -845px;
}

.pokemon-large-sprite.n93 {
    background-position: -96px -845px;
}

.pokemon-large-sprite.n94 {
    background-position: -192px -845px;
}

.pokemon-large-sprite.n95 {
    background-position: -288px -845px;
}

.pokemon-large-sprite.n96 {
    background-position: -384px -845px;
}

.pokemon-large-sprite.n97 {
    background-position: -480px -845px;
}

.pokemon-large-sprite.n98 {
    background-position: -576px -845px;
}

.pokemon-large-sprite.n99 {
    background-position: -0px -910px;
}

.pokemon-large-sprite.n100 {
    background-position: -96px -910px;
}

.pokemon-large-sprite.n101 {
    background-position: -192px -910px;
}

.pokemon-large-sprite.n102 {
    background-position: -288px -910px;
}

.pokemon-large-sprite.n103 {
    background-position: -384px -910px;
}

.pokemon-large-sprite.n104 {
    background-position: -480px -910px;
}

.pokemon-large-sprite.n105 {
    background-position: -576px -910px;
}

.pokemon-large-sprite.n106 {
    background-position: -0px -975px;
}

.pokemon-large-sprite.n107 {
    background-position: -96px -975px;
}

.pokemon-large-sprite.n108 {
    background-position: -192px -975px;
}

.pokemon-large-sprite.n109 {
    background-position: -288px -975px;
}

.pokemon-large-sprite.n110 {
    background-position: -384px -975px;
}

.pokemon-large-sprite.n111 {
    background-position: -480px -975px;
}

.pokemon-large-sprite.n112 {
    background-position: -576px -975px;
}

.pokemon-large-sprite.n113 {
    background-position: -0px -1040px;
}

.pokemon-large-sprite.n114 {
    background-position: -96px -1040px;
}

.pokemon-large-sprite.n115 {
    background-position: -192px -1040px;
}

.pokemon-large-sprite.n116 {
    background-position: -288px -1040px;
}

.pokemon-large-sprite.n117 {
    background-position: -384px -1040px;
}

.pokemon-large-sprite.n118 {
    background-position: -480px -1040px;
}

.pokemon-large-sprite.n119 {
    background-position: -576px -1040px;
}

.pokemon-large-sprite.n120 {
    background-position: -0px -1105px;
}

.pokemon-large-sprite.n121 {
    background-position: -96px -1105px;
}

.pokemon-large-sprite.n122 {
    background-position: -192px -1105px;
}

.pokemon-large-sprite.n123 {
    background-position: -288px -1105px;
}

.pokemon-large-sprite.n124 {
    background-position: -384px -1105px;
}

.pokemon-large-sprite.n125 {
    background-position: -480px -1105px;
}

.pokemon-large-sprite.n126 {
    background-position: -576px -1105px;
}

.pokemon-large-sprite.n127 {
    background-position: -0px -1170px;
}

.pokemon-large-sprite.n128 {
    background-position: -96px -1170px;
}

.pokemon-large-sprite.n129 {
    background-position: -192px -1170px;
}

.pokemon-large-sprite.n130 {
    background-position: -288px -1170px;
}

.pokemon-large-sprite.n131 {
    background-position: -384px -1170px;
}

.pokemon-large-sprite.n132 {
    background-position: -480px -1170px;
}

.pokemon-large-sprite.n133 {
    background-position: -576px -1170px;
}

.pokemon-large-sprite.n134 {
    background-position: -0px -1235px;
}

.pokemon-large-sprite.n135 {
    background-position: -96px -1235px;
}

.pokemon-large-sprite.n136 {
    background-position: -192px -1235px;
}

.pokemon-large-sprite.n137 {
    background-position: -288px -1235px;
}

.pokemon-large-sprite.n138 {
    background-position: -384px -1235px;
}

.pokemon-large-sprite.n139 {
    background-position: -480px -1235px;
}

.pokemon-large-sprite.n140 {
    background-position: -576px -1235px;
}

.pokemon-large-sprite.n141 {
    background-position: -0px -1300px;
}

.pokemon-large-sprite.n142 {
    background-position: -96px -1300px;
}

.pokemon-large-sprite.n143 {
    background-position: -192px -1300px;
}

.pokemon-large-sprite.n144 {
    background-position: -288px -1300px;
}

.pokemon-large-sprite.n145 {
    background-position: -384px -1300px;
}

.pokemon-large-sprite.n146 {
    background-position: -480px -1300px;
}

.pokemon-large-sprite.n147 {
    background-position: -576px -1300px;
}

.pokemon-large-sprite.n148 {
    background-position: -0px -1365px;
}

.pokemon-large-sprite.n149 {
    background-position: -96px -1365px;
}

.pokemon-large-sprite.n150 {
    background-position: -192px -1365px;
}

.pokemon-large-sprite.n151 {
    background-position: -288px -1365px;
}
