# Authentication settings
#auth-service:          # ptc (default) or google
#username:
#password:

# Database settings
#db-type: sqlite        # sqlite (default) or mysql
#db-host:               # required for mysql
#db-name:               # required for mysql
#db-user:               # required for mysql
#db-pass:               # required for mysql
#db-port:               # default 3306
#db-threads:            # Number of db threads; increase if the db queue falls behind. (default 1)

# Search settings
#location:
#fixed-location:        # prevents location from being changed (default false)
#no-gyms:               # disables gym scanning (default false)
#no-pokemon:            # disables pokemon scanning (default false)
#no-pokestops:          # disables pokestop scanning (default false)
#scan-delay:            # seconds to wait before sending an account to do its next scan (default 10)
#step-limit:            # search radius measured as 140m "steps" from the current search location (default 12)
#spawnpoint-only        # does a normal "spiral" step scan but skips any steps with no known spawnpoints (default false)
#spawnpoint-scanning    # no "spiral" step scan, jumps from spawnpoint to spawnpoint based on the known time that they will appear
                        #(takes a file path to a json of known spawnpoints, if the file does not exist will use all known points from the database)

# Misc
#gmaps-key:             # your Google Maps API key
#proxy:                 # Proxy URL (e.g. socks5://127.0.0.1:9050)
#webhook:               # webhook URL (e.g. http://127.0.0.1:4000)
#webhook-updates-only:  # don't send the webhook gyms or non-lured pokéstops (default false)
#print-status:          # shows the status screen instead of log screen, can switch between with [ENTER] (default false)

# Webserver settings
#host:                  # address to listen on (default 127.0.0.1; use 0.0.0.0 to listen on all addresses)
#port:                  # port to listen on (default 5000)
#locale:                # pokemon name translation (default en)
#ssl-certificate:       # relative or absolute path to ssl certificate (e.g. ./config/ssl.cert)
#ssl-privatekey:        # relative or absolute path to ssl private key (e.g. ./config/ssl.key)

#Uncomment a line when you want to change its default value (Remove # at the beginning)
#username, password, location and gmaps-key are required
