<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PoGo Map - Wie kann ich helfen?</title>

        <!-- Fav- & Apple-Touch-Icons -->
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='appicons/favicon.ico').lstrip('/') }}" type="image/x-icon">
        <!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="57x57">
        <!-- non-retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="72x72">
        <!-- non-retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="76x76">
        <!-- retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="114x114">
        <!-- retina iPhone iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/120x120.png').lstrip('/') }}" sizes="120x120">
        <!-- retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="144x144">
        <!-- retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="152x152">
        <!-- retina iPhone 6 iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/180x180.png').lstrip('/') }}" sizes="180x180">


        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/help.min.css').lstrip('/') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    </head>
    <body>
    <!-- Header -->
    <header id="header">
        <a href="#nav">Options</a>
        <h1><a href="..">Dortmund</a></h1>
        <a href="/help" style="float: right;"><span class="label">Hilfe</span></a>
        <a href="/menu" style="float: right;"><span class="label">Menü</span></a>
        <a href="/donate" style="float: right;"><span class="label">Unterstützen</span></a>
    </header>
    <nav id="nav">
        nothing to see here
    </nav>
    <div class="spacing"></div>
    <div class="help_container" id="help_container">
        <div class="help_form">
            <ul>
                <li>
                    <p class="header">Wie kann ich dich einfach unterstützen?</p>
                    <p>Sehr bald werde ich hier einen Paypal Spenden Button einbetten, damit Du deine Lieblingsmap unterstützen kannst &#9829;</p>
                    <p>Warum Geld spenden? Zurzeit kostet mich der Server alleine 45€, was für mich als Student enorm ist, jede noch so kleine Spende bedeutet ich kann mehr Zeit in die Map investieren!</p>
                </li>
                <li>
                    <p class="header">Ich hab auch Ahnung von Informatik, wie kann ich helfen?</p>
                    <p>Die folgende Anleitung sollte dir helfen, wie du mein Github Repo benutzen kannst, um selber Gebiete zu scannen</p>
                    <p><a href="https://github.com/JapuDCret/PokemonGo-Map-1/blob/develop/installation.txt">https://github.com/JapuDCret/PokemonGo-Map-1/blob/develop/installation.txt</a></p>
                </li>
                <li>
                    <p class="header">Ich habe weder Geld, noch Ahnung von Informatik, möchte aber dennoch helfen!</p>
                    <p>Du kannst immer noch enorm hilfreich sein :)</p>
                    <p>Einmal kannst du Fehler detailliert berichten, oder Informationen an Freunde verbreiten, damit nicht die selben Fragen immer wieder auftauchen</p>
                    <p>Zudem kannst du Pokémon Trainer Club Accounts erstellen und an mich senden...Dafür einfach auf <a href="https://club.pokemon.com/us/pokemon-trainer-club/sign-up/">Pokémon Club</a> gehen, einen Account erstellen, die E-Mail bestätigen und die Daten an mich senden :)</p>
                </li>
                <li>
                    <p class="header">Das alles ist nichts für mich...</p>
                    <p>Kein Problem, schreib mich an, und ich versuche mir was zu überlegen, wie Du helfen kannst</p>
                </li>
            </ul>
            <br/><br/>
            <ul>
                <li>
                    <p class="header">Kontaktinfos</p>
                    <p>Telegram: @japumk</p>
                    <div>
                        <span style="vertical-align: middle;">WhatsApp: </span>
                        <img src="http://138.201.55.36:80/images/number.png" alt="ERR: Image not found." style="vertical-align: middle;" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dist/js/app.min.js').lstrip('/') }}"></script>
    </body>
</html>
