<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PoGo Map - Hilfe</title>

        <!-- Fav- & Apple-Touch-Icons -->
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='appicons/favicon.ico').lstrip('/') }}" type="image/x-icon">
        <!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="57x57">
        <!-- non-retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="72x72">
        <!-- non-retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="76x76">
        <!-- retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="114x114">
        <!-- retina iPhone iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/120x120.png').lstrip('/') }}" sizes="120x120">
        <!-- retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="144x144">
        <!-- retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="152x152">
        <!-- retina iPhone 6 iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/180x180.png').lstrip('/') }}" sizes="180x180">


        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/help.min.css').lstrip('/') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    </head>
    <body>
    <!-- Header -->
    <header id="header">
        <a href="#nav">Options</a>
        <h1><a href="..">Dortmund</a></h1>
        <a href="/help" style="float: right;"><span class="label">Hilfe</span></a>
        <a href="/menu" style="float: right;"><span class="label">Menü</span></a>
        <a href="/donate" style="float: right;"><span class="label">Unterstützen</span></a>
    </header>
    <nav id="nav">
      <div class="ui-accordion-content">
            <div class="form-control switch-container">
              nothing to see here
            </div>
      </div>
    </nav>
    <div class="spacing"></div>
    <div class="help_container" id="help_container">
        <div class="help_form">
            <ul>
                <li>
                    <p class="header">Gibt es eine App, wo ich benachrichtigt werde über coole Pokémon?</p>
                    <p>Natürlich gibt es die! Leider nur bei Telegram, aber probiert sie aus:</p>
                    <p>Diesen Link mit eurem Handy öffnen: <a href="http://telegram.me/PokeReminder">&#10148; http://telegram.me/PokeReminder</a></p>
                </li>
                <li>
                    <p class="header">Wieso funktioniert die Seite nicht?</p>
                    <p>Wenn du keine Pokémon siehst, oder die Map weiß ist, versuche den Verlauf&Cache deines Browsers zu löschen.</p>
                    <p>Funktioniert dies nicht, probiere einen neuen Browser oder update deinen jetzigen!</p>
                    <p>Siehst du weiterhin <u>keine</u> Pokémon, kannst du mich anschreiben, unten sind meine Kontaktdetails</p>
                </li>
                <li>
                    <p class="header">Kannst du weitere Städte/Gebiete scannen?</p>
                    <p>Zurzeit nicht, da sonst die komplette Map droht gesperrt zu werden.</p>
                    <p>Mit der Hilfe von euch, könnte man die Gebiete erweitern</p>
                </li>
                <li>
                    <p class="header">Gibt es eine Möglichkeit, wie ich schneller News erhalte?</p>
                    <p>Es gibt eine WhatsApp News Gruppe und die Gruppe für Benachrichtigungen bei Telegram</p>
                    <p>Telegram: &#10148; @japumk</p>
                    <div>
                        <span style="vertical-align: middle;">WhatsApp: </span>
                        <img src="http://138.201.55.36:80/images/number.png" alt="ERR: Image not found." style="vertical-align: middle;" />
                    </div>
                </li>
                <li>
                    <p class="header">Gibt es eine Möglichkeit, wie ich dich unterstützen kann?</p>
                    <p>Siehe dazu auf der Seite <a href="/donate">"Unterstützen"</a></p>
                </li>
                <li>
                    <p class="header">Wie kann ich selber suchen?</p>
                    <p>Siehe dazu auf der Seite <a href="/donate">"Unterstützen"</a></p>
                </li>
                <li>
                    <p class="header">Warum sucht die Karte nicht bei mir Zuhause?</p>
                    <p>Die Karte arbeitet auf festgelegten Bereichen und es zurzeit nicht ohne Hilfe möglich diesen Bereich auszuweiten.</p>
                    <p>Bisher werden aber große Teile Dortmunds, darunter die wichtigsten Gebiete wie Phönixsee aufgezeichnet.</p>
                    <p>Gegen ein finanzielles Entgegenkommen lässt sich vielleicht einrichten, dass auch dein Gebiet gescannt wird: gehe dafür auf die Seite <a href="/donate">"Unterstützen"</a></p>
                </li>
                <li>
                    <p class="header">Die Website meldet "Fehler: Verbindung fehlgeschlagen"</p>
                    <p>Dann ist die Website zurzeit offline oder du hast sie falsch abgeschrieben</p>
                </li>
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dist/js/app.min.js').lstrip('/') }}"></script>
    </body>
</html>
