<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PoGo Map - Menü</title>

        <!-- Fav- & Apple-Touch-Icons -->
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='appicons/favicon.ico').lstrip('/') }}" type="image/x-icon">
        <!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="57x57">
        <!-- non-retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="72x72">
        <!-- non-retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="76x76">
        <!-- retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/114x114.png').lstrip('/') }}" sizes="114x114">
        <!-- retina iPhone iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/120x120.png').lstrip('/') }}" sizes="120x120">
        <!-- retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/144x144.png').lstrip('/') }}" sizes="144x144">
        <!-- retina iPad iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/152x152.png').lstrip('/') }}" sizes="152x152">
        <!-- retina iPhone 6 iOS 7 -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='appicons/180x180.png').lstrip('/') }}" sizes="180x180">


        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/menu.min.css').lstrip('/') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    </head>
    <body>
    <!-- Header -->
    <header id="header">
        <a href="#nav">Options</a>
        <h1><a href="..">PoGo Map - Dortmund</a></h1>
        <a href="/help" style="float: right;"><span class="label">Help</span></a>
        <a href="/menu" style="float: right;"><span class="label">Menu</span></a>
    </header>
    <nav id="nav">
        nothing to see here
    </nav>
    <div class="spacing"></div>
    <div class="help_container" id="help_container">
        <div class="help_form">
            Menü:
            
            to be filled with data..
            
            <a href="#">IV Calculator and Movesets</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dist/js/app.min.js').lstrip('/') }}"></script>
    </body>
</html>
